.App {
  text-align: center;
  height: 100%;
  display: flex;
}
.chatroom-content {
  padding: 10px 50px;
}
.chatroom-content-username {
  margin-right: 20px;
}
.chatroom-footer {
  display: grid;
  grid-template-columns: 12fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  justify-items: stretch;
  align-items: start;
}
.chatroom-footer-button {
  height: 52px;
  align-self: center;
}
.ant-list-item-meta-content {
  text-align: left;
}
